/** Helpers **/

* {
  box-sizing: border-box;
}

// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}
