/** Responsive Styles **/

@media screen and (min-width: 480px) {

  header {
    h1 {
      margin: 4em 0 2em 2em;
    }
    nav {
      position: absolute;
      right: 1em;
      bottom: 1em;
      display: block;
      a.mobile {
        display: none;
      }
      a.desktop {
        display: inline;
      }
    }
    border-bottom: 1px solid rgba($text, 0.2);
  }

  #right {
    float: left;
    width: 75%;
    padding: 2em;
  }

  #left {
    float: left;
    width: 25%;
    padding: 2em;
  }
}

@media screen and (min-width: 768px) {
  article.usergroup {
    div.description {
      float: left;
      width: 75%;
      padding-right: 4em;
    }
    aside {
      float: left;
      width: 25%;
    }
  }
  article.usergroup.single {
    div.description {
      width: 60%;
    }
    aside {
      width: 40%;
    }
  }
}
