@import url(normalize.css);
@import url(font-awesome.css);
/** Helpers **/
* {
  box-sizing: border-box; }

.clearfix:before, article.usergroup:before,
.clearfix:after,
article.usergroup:after {
  content: "";
  display: table; }

.clearfix:after, article.usergroup:after {
  clear: both; }

.alignright {
  float: right; }

.alignleft, #left, #right, article.usergroup div.description, article.usergroup aside {
  float: left; }

.hidden {
  display: none; }

/** Colors **/
html {
  background-color: #fafafa;
  color: rgba(76, 42, 50, 0.85); }

a {
  color: #4b967e;
  text-decoration: none; }

nav {
  font-size: 0.8125em;
  text-transform: uppercase; }
  nav a {
    color: rgba(76, 42, 50, 0.5); }
  nav a:hover {
    color: #4c2a32; }

header {
  position: relative;
  border-bottom: 1px solid rgba(76, 42, 50, 0.2); }
  header h1 {
    font-size: 0.8125em;
    margin: 4em 0 2em 2em; }
  header nav {
    position: absolute;
    right: 4em;
    bottom: 2em; }

#left {
  width: 25%;
  padding: 2em; }
  #left a {
    color: rgba(76, 42, 50, 0.5); }
  #left a:hover {
    color: #4c2a32; }
  #left nav {
    margin-bottom: 2em; }
  #left ul {
    color: rgba(76, 42, 50, 0.5);
    font-size: 0.75em;
    padding: 0; }
    #left ul li {
      list-style: none;
      margin-bottom: 0.5em; }
    #left ul time {
      text-transform: uppercase; }

#right {
  width: 75%;
  padding: 2em; }

h2 {
  font-size: 0.8125em;
  margin-top: 0;
  text-transform: uppercase; }
  h2 small {
    font-size: 1em;
    font-weight: normal;
    color: rgba(76, 42, 50, 0.5); }

h3 {
  font-size: 0.8125em;
  margin-bottom: 0; }

h3 + p {
  margin-top: 0; }

p, dl {
  font-size: 0.8125em; }

article.usergroup {
  margin-bottom: 2em; }
  article.usergroup div.description {
    width: 75%;
    padding-right: 4em; }
  article.usergroup aside {
    width: 25%; }
  article.usergroup dl dt {
    font-weight: bold; }
  article.usergroup dl dd {
    margin-left: 0;
    margin-bottom: 0.5em; }
    article.usergroup dl dd img.logo {
      width: 100%; }
    article.usergroup dl dd ul, article.usergroup dl dd ol {
      list-style: none;
      margin: 0;
      padding: 0; }
      article.usergroup dl dd ul li, article.usergroup dl dd ol li {
        padding: 0; }

/** Responsive Styles **/
