@import "normalize.css";
@import "font-awesome.css";
@import "helpers";
@import "colors";

html {
  background-color: $bg;
  color: rgba($text, 0.85);
}

a {
  color: $link;
  text-decoration: none;
}

nav {
  font-size: 0.8125em;
  text-transform: uppercase;
  a {
    color: rgba($text, 0.5);
  }
  a:hover {
    color: $text;
  }
}

header {
  position: relative;
  h1 {
    font-size: 0.8125em;
    margin: 4em 0 2em 2em;
  }
  nav {
    position: absolute;
    right: 4em;
    bottom: 2em;
  }
  border-bottom: 1px solid rgba($text, 0.2);
}

#left {
  @extend .alignleft;
  width: 25%;
  padding: 2em;
  a {
    color: rgba($text, 0.5);
  }
  a:hover {
    color: $text;
  }
  nav {
    margin-bottom: 2em;
  }
  ul {
    color: rgba($text, 0.5);
    font-size: 0.75em;
    padding: 0;
    li {
      list-style: none;
      margin-bottom: 0.5em;
    }
    time {
      text-transform: uppercase;
    }
  }
}

#right {
  @extend .alignleft;
  width: 75%;
  padding: 2em;
}

h2 {
  font-size: 0.8125em;
  margin-top: 0;
  text-transform: uppercase;
  small {
    font-size: 1em;
    font-weight: normal;
    color: rgba($text, 0.5);
  }
}

h3 {
  font-size: 0.8125em;
  margin-bottom: 0;
}

h3 + p {
  margin-top: 0;
}

p, dl {
  font-size: 0.8125em;
}

article.usergroup {
  @extend .clearfix;
  margin-bottom: 2em;
  div.description {
    @extend .alignleft;
    width: 75%;
    padding-right: 4em;
  }
  aside {
    @extend .alignleft;
    width: 25%;
  }
  dl {
    dt {
      font-weight: bold;
    }
    dd {
      margin-left: 0;
      margin-bottom: 0.5em;
      img.logo {
        width: 100%;
      }
    }
  }
}

@import "responsive";
