@import "normalize";
@import "font-awesome";
@import "helpers";
@import "colors";

html {
  background-color: $bg;
  color: rgba($text, 0.85);
  font-size: 0.8125em;
}

a {
  color: $link;
  text-decoration: none;
}

nav {
  text-transform: uppercase;
  a {
    color: rgba($text, 0.5);
  }
  a:hover {
    color: $text;
  }
}

header {
  position: relative;
  h1 {
    margin: 2em 0 1em 1em;
  }
  nav {
    position: absolute;
    display: none;
  }
  border-bottom: 1px solid rgba($text, 0.2);
}

#left {
  padding: 1em;
  a {
    color: rgba($text, 0.5);
  }
  a:hover {
    color: $text;
  }
  nav {
    margin-bottom: 2em;
  }
  ul {
    color: rgba($text, 0.5);
    padding: 0;
    li {
      list-style: none;
      margin-bottom: 0.5em;
    }
    time {
      text-transform: uppercase;
    }
  }
}

#right {
  padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

h2 {
  margin-top: 0;
  text-transform: uppercase;
  small {
    font-size: 1em;
    font-weight: normal;
    color: rgba($text, 0.5);
  }
}

h3 {
  margin-bottom: 0;
}

h3 + p {
  margin-top: 0;
}

article.usergroup {
  @extend .clearfix;
  margin-bottom: 2em;
  h2 {
    a {
      color: $text;
    }
  }
  dl {
    dt {
      font-weight: bold;
    }
    dd {
      margin-left: 0;
      margin-bottom: 0.5em;
      img.logo, img.group {
        width: 100%;
      }
      ul, ol {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          padding: 0;
        }
      }
    }
  }
  .showsingle {
    @extend .hidden;
  }
}

article.usergroup.single {
  .showsingle {
    display: block;
  }
  .hidesingle {
    @extend .hidden;
  }
}

@import "responsive";
